body{
	font-family: Georgia, "Times New Roman", Times, serif;
	padding: 7px;
}
*{
	margin: 0;
	padding: 0;
}
div.contain{
	width: 500px;
	margin: 0 auto;
	border: 1px solid #dfdfdf; 
}
.title{
	background: url(image/title_bg.gif) repeat-x;
	height: 25px;
	line-height: 1.6;
	font-size: 16px;
	padding-left: 4px;
}
.player-info{
	display: flex;
}
.player-info img{
	width: 100px;
	height: 90px;
	margin-left: 15px;
}
.info{
	margin-left: 5px;
	height: 100px;
	width: 100%;
	font-size: 15px;
	overflow: scroll;
	padding: 0 10px;
}
.info ul{
	list-style: none;
}
.fact .title{
	background: none;
	padding: 17px 4px;
}
.fact-contain{
	list-style: none;
	margin-left: 30px;
	font-size: 15px;
	padding-right: 40px;
}
.fact li{
	padding: 4px 0;
}
.fact ul li:before{
	content: url(image/star.gif);
	margin-right: 4px;
}
.post{
	margin-top: 40px;
	padding: 0 4px;
	font-size: 15px;
}
.post-contain{
	background: #ECECEC;
	padding: 4px 15px;
	position: relative;
}
p.post-info{
	margin-left: 50px;
	padding: 1px 0;
	font-size: 13px;
}
.post-info a{
	text-decoration: none;
	color: #0c35f1;
}
.post-contain:after{
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #ECECEC;
	top: 100%;
	left: 16px;
}
.comment{
	padding-top: 30px;
	padding-left: 3px;
	font-size: 15px;
}
.comment h4{
	margin-left: 215px;
	font-size: 17px;
}
.comment table input[type="text"]{
	width: 155px;
	height: 22px;
}


