body{
	font-family: 'Hirakaku Pro W3', serif;
	font-weight: 330;
}
*{
	margin: 0;
	padding: 0;
}
.container{
	margin: 0 auto;
	max-width: 1280px;
	height: auto;
	box-sizing: border-box;
}
.js-container{
	background: #000000;
	color: #990202;
}
.container img{
	width: 100%;
}
.header img{
	width: 100%;
	margin-bottom: -0.3em;
}
.footer{
	margin-bottom: -10px;
}
.footer img{
	width: 100%;
}
.content{
	width: 93%;
	margin: 0 auto;
	display: block;
	overflow: hidden;
}

.content-title{
	font-size: 42px;
	text-align: center;
	padding-top: 40px;
}
.js-text_info{
	color: #ffffff;
}
.text_title{
	font-size: 24px;
	text-align: center;
	padding: 0.5em 0;
}
.content-list{
	padding: 2.4em 0;
	
}
.box-grey{
	padding: 1.0em;
	font-size: 0.9em;
	background-color: #cccccc;
	border-radius: 0.3em;
}
.border img{
	margin-bottom: 2%;
}
.border{
	border-top: 1px solid #000000;
	display: block;
	margin-bottom: 0.9em;
	position: relative;
}
.boder: before{
	content: "";
	clear: both;
	visibility: hidden;
	height: 1px;
}
.info{
	width: 50%;
	padding: 0 1.3em;
}
.btn{
	width: 50%;
	margin: 0 1.3em;
	padding-bottom: 5.2em;
}
.btn-sp{
	display: none;
	padding-bottom: 30px;
}
.btn-sp a{
	width: 100%;
}
.btn-pc{
	width: 100%;
	display: flex;
}
.content-list_info{
	display: flex;
}
a{
	text-decoration: none;
	color: #000000;
}
ul{
	list-style-type: none;
}
@media screen and (max-width: 768px){
	.container{
		min-width: 320px;
	}
	.content-list_info {
		padding: 0;
		display: block;
	}
	.box-grey{
		width: 100%;
		text-align: center;
		padding: 10px 0;
	}
	.btn-pc{
		display: none;
	}
	.btn-sp{
		display: flex;
	}
	.info{
		width: 100%;
		padding: 0;
	}
}