body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #F9F8F9;
  font-size: 20px;
}
.contain{
	margin: 0 auto;
  	width: 650px;
  	position: relative;
}
.container {
	width: 350px;
}
.content{
	display: flex;
	padding: 10px 0;
}
.container span{
	color: red;
	position: absolute;
	left: 300px;
	padding: 0 5px;
}
.container input[type="text"]{
	position: absolute;
	left: 100px;
}
.container input[type="password"]{
	position: absolute;
	left: 100px;
}
.contain input[type="submit"]{
	margin-top: 30px;
	margin-right: 20px;
	height: 50px;
	background: #50bdfb;
	border: 1px solid #50bdfb;
	border-radius: 5%;
	color: white;
	font-weight: bold;
}
table, th, td {
	margin-top: 20px;
	height: 10px;
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}

th, td{
  width: 60px;
  height: 30px;
}

select {
  width: 100%;
  height: 100%;
}

.date-js {
  width: 100px;
  color: red;
  background-color: #BEBEBE;
}

.day-js {
  background-color: #FBFCFC;
  font-weight: normal;
}

.not_day-js {
  background-color: #2D2D2D;
  font-weight: normal;
}

.nav-js {
  background-color: #A9CCE3;
  cursor: pointer;
}

.text {
  margin-bottom: 5px;
  background-image: url("image/Calendar-icon.png");
  background-repeat: no-repeat;
  background-position: right;
}

.choice-js:hover {
  background-color: aqua;
  cursor: pointer;
}