body {
  font-family: 'Arial',serif;
  font-weight: 330;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.header img, .footer img {
  width: 100%;
  max-width: 100%;
  margin-bottom: -0.25em;
}

.main {
  max-width: 1600px;
  margin: 0 auto;
}

.banner {
  width: 100%;
  display: flex;
}

.banner__left {
  width: 40.6%;
  background: #222222;
  float: left;
}

.banner__left h2 {
  width: 80%;
  margin: 0 auto;
  padding-top: 40%;
  font-family: 'Helvetica';
  color: #ffffff;
  text-align: center;
}

.banner__right {
  width: 59.4%;
  float: left;
}

.banner__right img {
  width: 100%;
}

.intro__info {
  display: flex;
}

.content__intro {
  margin-bottom: 3%;
}

.info__img {
  width: 50%;
  margin-right: 3%;
}

.info__img img {
  width: -webkit-fill-available;
}

.info__text {
  width: 50%;
}

.content h4 {
  padding-bottom: 2%;
}

.content h1 {
  text-align: center;
  padding: 5% 0;
}

.content picture img {
  width: 100%;
}

.content__1,
.content__2 {
  padding-top: 3%;
}

.content__2__img {
  display: flex;
  padding-bottom: 3%;
}

.content__inner, .content__guide, .box__note {
  width: 94%;
  margin: 0 auto;
}

.content__guide {
  padding-top: 3%;
}

.content__img {
  width: 100%;
  display: flex;
  padding-bottom: 3%;
}

.content__img-2 {
  display: flex;
}

.img__left-2 {
  width: 50%;
  margin-right: 1%;
}

.img__left-2 img {
  width: 100%;
}

.img__right-2 {
  width: 50%;
  margin-left: 1%;
}

.img__right-2 img {
  width: 100%;
}

.img__left {
  width: 35%;
  margin-right: 1%;
}

.img__left img {
  width: 100%;
}

.img__right {
  width: 70%;
  margin-left: 1%;
}

.img__right img {
  width: 100%;
}

.box__comment {
  background: #f9f8f8;
  padding: 3% 2%;
  font-style: italic;
}

.box__comment h4 {
  text-align: center;
}

.box__time {
  background: #edeaea;
  padding: 3% 2%;
  margin-bottom: 3%;
  border-radius: 0.5em;
}

.box__note {
  background: #f8ecec;
  padding-top: 3%;
  margin-top: 3%;
}

.box__note h4 {
  color: #ee0202;
}

.box__note--content {
  width: 94%;
  margin: 0 auto;
}

.guide__info {
  padding-bottom: 3%;
}

.guide__info h4 span {
  color: #ff4242;
}

.guide__info img {
  padding-bottom: 3%;
}

.info__img--sp {
  display: block;
}

.info__img--pc {
  display: none;
}

.content__img_9 {
  width: 40%;
  margin: 0 auto;
  padding-bottom: 3%;
}

.content__img_9 img {
  width: 100%;
}

.content__img_1 {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 3%;
}

.content__img_1 img {
  width: 100%;
}

.content__share {
  display: flex;
  padding: 6% 0;
}

.share--icon {
  width: 31.5%;
  padding-left: 1.5%;
}

.share--icon img {
  width: 100%;
  max-width: 100%;
}

.list {
  width: 14%;
  margin: 0 auto;
  padding-top: 1%;
  padding-bottom: 3%;
}

.list ul {
  justify-content: center;
}

.slide img {
  width: 100%;
}

.banner__right img, .content img, .content__guide img {
  margin: 0 auto;
  display: block;
}

p {
  text-align: justify;
  padding-bottom: 2%;
}

ul {
  list-style-type: none;
  display: flex;
}

ul li {
  padding-right: 2%;
}

a {
  color: #0bacff;
  word-break: break-all;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@media (min-width: 1025px) {
  .content h1 {
    width: 55%;
    margin: 0 auto;
  }
  .banner, .content {
    width: 67%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .content__img_1 {
    width: 80%;
  }
  .content__intro {
    display: flex;
  }
  .content__inner, .content__guide, .box__note {
    width: 85%;
    margin: 0 auto;
  }
  .slide,
  .content__img,
  .content__2__img,
  .box__comment {
    width: 80%;
    margin: 0 auto;
  }
  .guide__info--img {
    padding-right: 3%;
  }
  .guide__info--text {
    width: 55%;
  }
  .guide__info--img, .info__img--sp, .info__img--pc {
    width: 45%;
  }
  .guide__info--img img, .info__img--sp img, .info__img--pc img {
    width: 100%;
    max-width: 100%;
  }
  .info__img--sp {
    display: none;
  }
  .info__img--pc {
    padding-left: 3%;
    display: block;
  }
  .guide__info {
    display: flex;
  }
  .guide__info img {
    padding-bottom: 0;
  }
  .main {
    background: url(../images/img_bg.png) no-repeat top left;
    background-size: cover;
  }
  .intro__text {
    width: 70%;
    float: left;
  }
  .info__text {
    width: 100%;
  }
  .info__img {
    width: 100%;
  }
  .info__img img {
    padding-bottom: 3%;
  }
  .intro__info {
    width: 30%;
    display: block;
    padding-left: 3%;
  }
  .content {
    background-color: #ffffff;
    margin-bottom: 5%;
  }
  .banner {
    margin-bottom: 2%;
  }
  .content__share {
    display: none;
  }
}

@media (max-width: 475px) {
  .main {
    min-width: 300px;
  }
  .banner__left h2 {
    font-size: 14px;
  }
}
