body{
	font-family: 'Kozuka Gothic Pro', serif;
}
*{
	margin: 0;
	padding: 0;
}
.container{
	width: 100%;
	height: auto;
	margin: 0 auto;
}
.header{
	width: 100%;
}
.header img{
	width: 100%;
}
.content{
	width: 800px;
	margin: 0 auto;
	min-width: 640px;
	max-width: 1280px;
}
.content-wrap{
	background-image: url(../images/bg-inner.jpg);
	overflow: hidden;
}
.content-header{
	width: 100%;
	position: relative;
	background: #a8aaaa;
	background: rgba(255,255,255,0.5);
	display: flex;
}
.content-header ul{
	position: absolute;
	right: 10px;
	padding-top: 20px;
}
.content-header_sound {
	padding-left: 45%;
}
.content-header_sound img{
	padding-top: 10px;
}
.content-sticker{
	margin-top: 10px;
	height: 100px;
	width: 100%;
	background-image: url(../images/sticker.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
}
.content-chat1_woman{
	margin-top: 5px;
	padding-left: 17%;
	display: flex;
	padding-right: 10px;
}
.content-chat1_man{
	padding-left: 47%;
	display: flex;
}
.content-chat2{
	padding-bottom: 100px;
	display: flex;
}
.content-chat2-left{
	width: 50%;
	padding-left: 10px;
}
.content-chat2-right{
	width: 50%;
}
.content-chat2_woman{
	width: 100%;
	display: flex;
	padding: 5px 10px;
}
.content-chat2_woman_right{
	width: 100%;
	display: flex;
	padding: 5px 0;
	padding-left: 22%;
	float: left;
}
.content-chat2_icon{
	position: relative;
	display: none;
}
.content-chat2_icon img{
	position: absolute;
	bottom: 0;
}
.content-chat2_man{
	display: flex;
	position: relative;
	padding-left: 15%;
}
.content-chat{
	display: flex;
}
.content-footer_sp{
	display: none;
	padding: 20px 0;
}
.content-footer_pc{
	display: flex;
	padding: 20px 0;
}
.btn{
	width: 60%;
	padding-left: 10%;
}
.pre{
	width: 20%;
	float: left; 
	padding-left: 10px;
	padding-top: 10px;
}

.next{
	width: 5%;
	float: right;
	padding-top: 10px;
}
.next img{
	
}
.border{
	border-top: 1px solid #008098;
}
.border:before{
	content: "";
	clear: both;
	visibility: hidden;

}
.icon-feel{
	display: none;
	padding-left: 17%;
}
.icon-feel img{
	padding-left: 17%;
}
.icon{
	display: block;
	position: relative;
	padding-right: 60px;
}
.icon img{
	position: absolute;
	bottom: 0;
}
.icon1{
	display: none;
	position: relative;
	padding-right: 60px;
}
.icon1 img{
	position: absolute;
	bottom: 0;
}
.iconsound{
	position: relative;
	display: block;
	margin-right: 30px;
}
.iconsound img{
	position: absolute;
	top: 35%;
}
.text{
	padding: 5px 0;
	line-height: 25px;
}
.text span{
	background-color: white;
}
.textE{
	color: #008098;
}
.textJ{}
.text2{
	font-size: 9px;
}
.text3{
	padding-left: 20%;
	font-size: 9px;
}
.arrow img{
	padding-left: 24%;
}

.box-chatwoman{
	width: auto;
	height: auto;
	background-color: #fee8d2;
	border-radius: 3%;
	position: relative;
	padding: 0 5px;
}
.box-chatwoman:before{
	position: absolute;
	content:"";
	border-top: 10px solid transparent;
	border-right: 10px solid #fee8d2;
	bottom: 10px;
	left: -10px;
}
.box-chatman{
	height: auto;
	position: relative;
	background-color: #e2f3f2;
	border-radius: 3%;
	margin-top: 5px;
	margin-right: 10px;
	padding: 0 5px;
}
.box-chatman:after{
	position: absolute;
	content:"";
	border-top: 10px solid transparent;
	border-left: 10px solid #e2f3f2;
	bottom: 10px;
	right: -10px;
}
.footer img{
	width: 100%;
}
ul{
	list-style-type: none;
}
li{
	display: inline;
	padding-left: 10px;
}
li span{
	color: #008098;
	font-weight: bold;
}
input{
	margin-left: 7px;
}
input[type=checkbox]{
	width: 20px;
	height: 20px;
}
@media only screen and (max-width: 640px){
	.header img{
		width: 800px;
	}
	.icon1{
		display: inherit;
	}
	.text{
		line-height: 20px;
	}
	.content-chat1_woman{
		padding-left: 10px;
		float: left;
	}
	.content-chat1_man{
		padding-left:45%;
		float: right;
	}
	.icon-feel{
		display: flex;
	}
	.arrow{
		padding-left: 15%;
	}
	.content-chat2-left{
		display: none;
		width: 100%;
	}
	.content-chat2-right{
		width: 100%;
	}
	.content-chat2_icon{
		display: inherit;
	}
	.content-chat2_man{
		float: right;
	}
	.content-chat2_woman_right{
		padding-left: 10px;
		float: left;
	}
	.content-header{
		height: 70px;
	}
	.content-chat2{
		padding-bottom: 0;
	}
	.content-header ul{
		padding-top: 0;
	}
	li{
		display: block;
	}
	.content-header span{
		margin-left: -5px;
	}
	.content-footer_sp{
		display: flex;
	}
	.content-footer_pc{
		display: none;
	}
}
