body{
	font-family: 'Kozuka Gothic Pro', serif;
	font-weight: 300;
}
*{
	margin: 0;
	padding: 0;
}
.container{
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}
.content{
	width: 96%;
	margin: 0 auto;
	margin-top: -0.7%;
	line-height: 25px;
}
.header{
	width: 100%;
}
.content-header_logo img, .header img, .content-chat1{
	width: 100%;
}
.content-chat1{
	width: 100%;
	float: left;
}
.content-wrap{
	background-image: url(../images/bg-inner.jpg);
	background-size: cover;
	background-repeat: no-repeat;

}
.content-wrap-chat{
	padding: 0 2em;
}
.content-header{
	width: 100%;
	position: relative;
	background: #a8aaaa;
	background: rgba(255,255,255,0.5);
	display: flex;
}
.content-header ul{
	position: absolute;
	right: 0;
	padding-top: 2%;
}
.content-header_sound {
	padding: 1% 0;
	padding-left: 9em;
	margin-bottom: -1%;
}
.content-sticker{
	height: 100px;
	margin-top: 3.8%;
	margin-bottom: 2%;
	background: url(../images/sticker.png) no-repeat center;
	width: 100%;
}
.content-chat1_woman{
	width: 100%;
	display: flex;
	float: left;
}
.content-chat1_man{
	width: 100%;
	display: flex;
	padding: 1em 0;
}
.content-chat2{
	width: 100%;
	display: flex;
	padding-bottom: 0.5em;
}
.content-chat2-left{
	width: 100%;
}
.content-chat2-right{
	width: 100%;
	display: none;
}
.content-chat2_woman{
	width: 100%;
	display: flex;
	padding: 0.5em 0;
}
.content-chat2-right_woman{
	width: 100%;
	display: flex;
    position: relative;
    float: left;
    padding: 0.5em 0;
}
.content-chat2_man,
.content-chat2-right_man{
	width: 100%;
	display: flex;
	position: relative;
	float: right;
	padding: 0.5em 0;
}
.content-chat{
	display: flex;
	margin-left: 2em;
	margin-right: 1em;
}
.content-chat-left_man{
	padding-right: 3em;
	padding-left: 2em;
	padding-bottom: 1em;
}
.content-chat-right_man{
	padding-right: 75px;
	padding-left: 20px;
}
.content-footer_sp{
    padding-top: 2em;
    padding-bottom: 3em;
	display: flex;
}
.content-footer_pc{
	display: none;
	padding: 20px 0;
}
img{
	cursor: pointer;
}
.btn{
	width: 50%;
}
.pre{
	width: 30%;
	padding-top: 1em;
	float: left;
}

.next{
	width: 20%;
	padding-top: 1em;
	float: right;
}
.next img{
	float: right;
} 
.border{
	width: 100%;
	border-bottom: 1px solid #008098;
}
.border:before{
	content: "";
	clear: both;
	visibility: hidden;

}
.icon-feel{
	display: flex;
	width: 100%;
}
.icon-feel_left, .icon-feel_right{
	width: 50%;
}
.icon-feel_left img{
	margin-right: 5em;
	float: right;
}
.icon-feel_right img{
	margin-left: 7em;
	float: left;
}
.icon_woman,
.content-chat2_woman_icon{
	display: block;
	position: relative;
	margin-right: 4em;
}
.icon_woman img,
.content-chat2_woman_icon img{
	position: absolute;
	bottom: 0;
}
.icon_man, 
.content-chat2_icon{
	display: block;
	position: relative;
	padding-left: 0.8em;
}
.icon_man img, 
.content-chat2_icon img{
	position: absolute;
	bottom: 0;
}
.icon1{
	width: 10%;
	position: relative;
}
.icon1 img{
	position: absolute;
	bottom: 0;
}
.iconsound{
	position: relative;
	display: block;
	margin-right: 40px;
}
.iconsound img{
	position: absolute;
	top: 35%;
}
.text2{
	padding: 1% 0;
}
.text{
	padding: 3% 0;
}
.text span{
	background-color: white;
}
.textE{
	word-break: break-all;
	color: #008098;
	font-size: 15px;
}
.arrow{
	width: 52%;
}
.arrow img{
	width: 100%;
	padding-left: 50%;
}
.box-chatwoman{
	width: 90%;
	height: auto;
	background-color: #fee8d2;
	border-radius: 0.3em;
	position: relative;
}
.box-chatwoman:before{
	position: absolute;
	content:"";
	border-top: 10px solid transparent;
	border-right: 10px solid #fee8d2;
	bottom: 10px;
	left: -10px;
}
.box-chatman{
	width: 90%;
	height: auto;
	position: relative;
	background-color: #e2f3f2;
	border-radius: 0.3em;
}
.box-chatman:after{
	position: absolute;
	content:"";
	border-top: 10px solid transparent;
	border-left: 10px solid #e2f3f2;
	bottom: 10px;
	right: -10px;
}
.footer img{
	width: 100%;
}
ul{
	list-style-type: none;
}
li span{
	color: #008098;
	font-weight: bold;
	margin-right: -0.4em;
}
input[type='checkbox']{
	display: none;
}
label{
	font-size: 14px;
	cursor: pointer;
	position: relative;
	margin-right: 2em;
}
label:after{
	content: "";
	width: 13px;
	height: 12px;
	margin-left: 1em;
	display: inline-block;
	background: url(../images/checked.jpg) left top no-repeat;
}

input[type='checkbox']:checked + label:after{
	background: url(../images/no_checked.jpg) left top no-repeat;
}
@media only screen and (min-width: 769px){
	.content-chat1_woman{
		width: auto;
		padding-left: 16%;
		padding-right: 15%;
	}
	.btn{
		padding-left: 6em;
	}
	.pre, .next{
		padding-top: 0;
	}
	.content-footer_sp{
		display: none;
	}
	.content-footer_pc{
		display: flex;
	}
	.content-chat2-right_man{
		width: auto;
		padding-right: 3em;
		padding-top: 0.2em;
	}
	.content-chat2_man{
		width: auto;
		padding-top: 0.2em;
	}
	.content{
		width: 68%;
	}
	.icon_woman,
	.content-chat2_woman_icon{
		width: auto;
		margin-right: 4em;
	}
	.icon1{
		display: none;
	}
	.content-chat2_woman{
		padding-top: 0.2em;
	}
	.content-chat2-right_woman{
		width: auto;
		float: right;
		padding-top: 0.2em;
		padding-right: 3.7em;
	}
	.icon-feel{
		display: none;
	}
	.content-chat2-left, .content-chat2-right{
		display: block;
	}
	.content-chat2-left{
		padding-right: 3.6em;
	}
	.content-chat2_icon{
		display: none;
	 }
	.icon_man{
		width: auto;
		padding-left: 0.7em;
	}
	.content-chat1_man{
		width: auto;
		float: right;
		padding: 0.4em 0;
		margin-right: 7em;
	}
	.box-chatwoman, .box-chatman{
		width: auto;
	}
	.content-header ul{
		display: flex;
	}
	.content-wrap-chat{
		padding: 0 1.5em;
		padding-bottom: 7em;
	}
}
@media only screen and (max-width: 475px){
	label{
		margin-right: 0.3em;
	}
	.content-chat2_man, .content-chat2-right_man{
		margin-right: 0.2em;
	}
	.container{
		min-width: 320px; 
	}
	.icon-feel_right img{
		margin-left: 2em;
	}
	.icon-feel_left img{
		margin-right: 2em;
	}
	.next, .pre{
		width: 20%;
		padding-top: 0.1em;
	}
	.btn{
		width: 80%;
	}
	.btn img{
		width: 100%;
	}
	.content-wrap-chat{
		padding: 0 0.3em;
	}
	.icon_man, .content-chat2_icon{
		width: 15%;
	}
	.box-chatman, .box-chatwoman{
		width: 85%;
	}
}

