body{
	font-family: 'Kozuka Gothic Pr6N',serif;
}
*{
	margin: 0;
	padding: 0;
}
.container{
	max-width: 1280px;
	min-width: 700px;
	width: 100%;
	margin: 0 auto;
}
.header{

}
.content{
	width: 68%;
	height: auto;
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	margin: 0 auto;
	padding-bottom: 10%;
	justify-content: center;

}
.content1-rectangle{
	height: 60px;
	background: #babbbb;
	background: rgba(255,255,255,0.5);
	padding-left: 45%;
	display: flex;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}
.content1-rectangle ul{
	position: absolute;
	list-style-type: none;
	right: 5%;
	top: 30%; 	

}
.content1-rectangle li{
	display: inline;
}
.content1-rectangle span{
	padding-right: 10px;
}
.sticker{
	padding-left: 42%;
	padding-top: 20px;
}
.content2{
	width: 100%;
	height: auto;
	padding-top: 10px;
	box-sizing: border-box;
	display: block;
	
}
.content2-chat{
	width: 100%;
	padding-left: 30%;
	position: relative;
}
.content2-chatwoman{
	width: 100%;
	display: flex;
	
}
.content2-chatman{
	width: 100%;
	display: flex;
	padding-left: 25%;
}
.content3{
	display: flex;
	padding: 30px 30px;
}
.content3-chatleft{
	width: 49%;
	display: block;
}
.content3-chatman_padding{
	padding-left: 16%;
}
.content3-chatman{
	display: flex;
	position: relative;
	padding-right: 70px;
}
.content3-chatwoman{
	position: relative;
	display: flex;
}

.content3-chatright{
	position: absolute;
	right: 30px;
	justify-content: right;
}
.content3-chatman_content1{
	display: flex;
}
.content_nav{
	width: 45%;
	margin: 0 auto;
}
.content_picman{
	width: 100%;
	margin: 0 auto;
	display: none;
}
.content_picman_smile{
	margin-right: 37%;
	margin-left: -40px;
}
.content_nav_footer{
	width: 100%;
	position: absolute;
	bottom: 10px;
	display: none;
}
.border{
	border-top: 1px solid #95ded9;
	
}
.border: after{
	content: "";
	clear: both;
	visibility: hidden;
}
.box-chatwoman{
	width: auto;
	height: auto;
	background-color: #fee8d2;
	border-radius: 3%;
	position: relative;
	margin-top: 10px;
	margin-left: 10px;
	padding: 5px 5px;
}
.box-chatwoman:before{
	position: absolute;
	content:"";
	border-top: 10px solid transparent;
	border-right: 10px solid #fee8d2;
	bottom: 10px;
	left: -10px;
}
.box-chatman{
	height: auto;
	position: relative;
	background-color: #e2f3f2;
	border-radius: 3%;
	margin-top: 10px;
	margin-right: 10px;
	padding: 5px 5px;
}
.box-chatman:after{
	position: absolute;
	content:"";
	border-top: 10px solid transparent;
	border-left: 10px solid #e2f3f2;
	bottom: 10px;
	right: -10px;
}
.pre{
	position: absolute;
	left: 5px;
	padding-top: 10px;
}
.next{
	position: absolute;
	right: 5px;
	padding-top: 10px;
}
.btn{
	padding-left: 30%;
}
.text-blue{
	color: #008098;
}
.textJ{
	font-weight: bold;
}
.footer{
	padding: 10px 0;
}
.btn-pc{
	padding-left: 45%;
}
.content input[type="checkbox"]{
	height: 20px;
	width: 20px;
}
.icon-woman{
	position: absolute;
	bottom: -10px;
	margin-right: 30px;
}
.content2_icon-man{
	position: absolute;
	bottom: -10px;
	left: 56%;
}
.content3_iconman_left{
	position: absolute;
	bottom: -10px;
	right: 130px;
}
.content3_iconman_right{
	position: absolute;
	bottom: -10px;
	right: 0;
}
.icon-sound{
	position: absolute;
	padding-left: 10px;
}
.text{
	padding-left: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
}

img{
	cursor: pointer;
}
@media screen and (max-width: 1200px){
	.content_picman{
		display: flex;
	}
	.content2{
		padding-left: 10px;
	}
	.content2-chatwoman{
		padding-right: 20px;
		padding-left: 10px;
	}
	.content2-chatman{
		margin-right: 10px;
		padding-left: 20px;
	}
	.content3{
		display: block;
	}
	.content3-chatleft{
		width: 100%;
	}
	.content3-chatright{
		display: none;
	}
	.content{
		width: 100%;
	}
	.content_nav_footer{
		display: flex;
	}
	.footer{
		display: none;
	}
	..content2_icon-man{
		padding-left: 85%;
	}
}
