body {
  font-family: 'Arial',serif;
  font-weight: 330;
  color: #333333;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.header img, .footer img {
  width: 100%;
  max-width: 100%;
  margin-bottom: -0.3em;
}

.main {
  max-width: 1600px;
  margin: 0 auto;
}

.content {
  width: 100%;
}

.banner {
  position: relative;
  width: 100%;
  display: flex;
}

.banner__left {
  width: 40.6%;
  background-color: #222222;
  margin-bottom: 0.2em;
  float: left;
}

.banner__left h1 {
  width: 80%;
  padding-top: 15%;
  margin: 0 auto;
  font-family: 'Helvetica';
  color: #ffffff;
}

.banner__right {
  width: 59.4%;
  float: left;
}

.banner__right img {
  width: 100%;
  max-width: 100%;
}

.banner__right--img {
  position: absolute;
  z-index: 1;
}

.banner__right--icon {
  position: absolute;
  right: 0;
  z-index: 2;
}

.body {
  width: 94%;
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 50%;
}

.details p {
  font-style: italic;
  padding-top: 0.5%;
  padding-bottom: 2%;
}

.details h3 {
  padding-top: 7%;
}

.box--green {
  width: 23.7%;
  margin: 0 auto;
  margin-bottom: 5%;
  background: #6eb92b;
  padding: 2%;
}

.box--green h2 {
  color: #ffffff;
  text-align: center;
}

.box--green p {
  display: none;
}

.box--blue {
  background: #1389c0;
  color: #ffffff;
  text-align: center;
  padding: 2% 0;
}

.box--grey {
  border: 1px solid #dedede;
  background: #eeeeee;
  padding: 3% 0;
}

.box--grey__content {
  width: 94%;
  margin: 0 auto;
}

.box--grey__content ul {
  margin-bottom: -0.3em;
  display: flex;
}

.box--grey__content ul img {
  max-width: 100%;
}

.procedure {
  width: 100%;
  background: #ffffff;
  border: 0.5px solid #adadad;
  padding: 5% 0;
}

.procedure__content {
  width: 94%;
  margin: 0 auto;
}

.procedure__content img {
  max-width: 100%;
  width: 100%;
}

.list {
  width: 100%;
}

.list ul {
  padding-top: 2%;
  display: flex;
}

.list li {
  padding-left: 0.25em;
  width: 13.7%;
  text-align: center;
}

.list img {
  opacity: 0.5;
}

.active img {
  border: 3px solid #19930d;
  opacity: 1;
}

.content__share {
  display: flex;
  padding: 6% 0;
}

.share--icon {
  width: 31.5%;
  padding-left: 1.5%;
}

.share--icon img {
  width: 100%;
  max-width: 100%;
}

.table {
  overflow-x: auto;
  padding-top: 5%;
  padding-bottom: 1%;
}

table, tr, th, td {
  border: 1px solid #dddddd;
}

.text--center {
  text-align: center;
}

.note {
  width: 100%;
  float: left;
}

.note p {
  float: right;
  padding-top: 1%;
}

.note span {
  color: #e70517;
}

th:nth-child(5) {
  background: #253266;
  color: #ffffff;
}

th:nth-child(4) {
  background: #e95371;
  color: #ffffff;
}

th:nth-child(3) {
  background: #6eb92b;
  color: #ffffff;
}

th:nth-child(3),
th:nth-child(4) {
  width: 20%;
}

th:nth-child(2) {
  color: #e70517;
  width: 15%;
}

th:nth-child(1) {
  width: 10%;
  display: none;
}

td:nth-child(1) {
  text-align: center;
  display: none;
}

td:nth-child(2) {
  color: #e70517;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table ul {
  display: flex;
}

table ul p {
  margin-top: 2em;
  margin-right: 1em;
}

table td {
  text-align: justify;
  padding: 2%;
}

table span {
  color: #e70517;
}

table img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

table a {
  word-break: break-all;
}

table th {
  padding: 2% 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #1389c0;
}

/*----------------Responsive-----------------*/
/*---------------Desktop----------------------*/
@media (min-width: 1024px) {
  .body {
    width: 85%;
    margin: 0 auto;
  }
  .content {
    width: 65.5%;
    margin: 0 auto;
  }
}

/*---------------Tablet----------------------*/
@media (min-width: 679px) {
  .box--grey__content {
    width: 100%;
  }
  .box--grey__content ul {
    margin-bottom: -0.2em;
  }
  .procedure {
    border: 1px solid #1389c0;
  }
  .box--grey {
    border: 1px solid #ffffff;
    background: #ffffff;
  }
  .box--green {
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 0;
    padding: 0;
  }
  .box--green h2 {
    display: none;
  }
  .box--green p {
    display: block;
  }
  th:nth-child(5),
  th:nth-child(4),
  th:nth-child(3) {
    background: #e60012;
  }
  th {
    background: #e60012;
  }
  th:nth-child(2) {
    color: #ffffff;
  }
  th:nth-child(1) {
    display: table-cell;
    color: #ffffff;
  }
  td:nth-child(1) {
    display: table-cell;
  }
  td:nth-child(2) {
    color: #333333;
    font-weight: normal;
  }
  .body {
    width: 80%;
    padding-bottom: 2%;
  }
  .content__share {
    display: none;
  }
  tr:nth-child(1),
  tr:nth-child(3),
  tr:nth-child(5),
  tr:nth-child(7),
  tr:nth-child(10),
  tr:nth-child(11),
  tr:nth-child(13),
  tr:nth-child(15),
  tr:nth-child(17),
  tr:nth-child(19) {
    background-color: #f8f4f4;
  }
  .col--1 {
    display: block;
  }
  .inner {
    background: #ffffff;
    margin-top: 2%;
  }
  .main {
    background: url(../images/pc/img_bg.png) no-repeat top left;
    background-size: cover;
  }
  .text--detail {
    display: none;
  }
}

/*---------------Mobile----------------------*/
@media (max-width: 475px) {
  .container {
    min-width: 300px;
  }
  .list li {
    font-size: 10px;
  }
  .box--green {
    width: 80%;
  }
  .banner__left h1 {
    font-size: 20px;
  }
}
