body {
  font-family: 'Arial',serif;
  font-weight: 330;
  color: #333333;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.header img, .footer img {
  width: 100%;
  max-width: 100%;
  margin-bottom: -0.3em;
}

.main {
  max-width: 1600px;
  margin: 0 auto;
}

.content {
  width: 100%;
}

.banner {
  position: relative;
  width: 100%;
  display: flex;
}

.banner__left {
  width: 40.6%;
  background-color: #222222;
  margin-bottom: 0.2em;
  float: left;
}

.banner__left h1 {
  width: 80%;
  padding-top: 15%;
  margin: 0 auto;
  font-family: 'Helvetica';
  color: #ffffff;
}

.banner__right {
  width: 59.4%;
  float: left;
}

.banner__right img {
  width: 100%;
  max-width: 100%;
}

.banner__right--img {
  position: absolute;
  z-index: 1;
}

.banner__right--icon {
  position: absolute;
  right: 0;
  z-index: 2;
}

.body {
  width: 94%;
  margin: 0 auto;
  padding: 5% 0;
}

.details p {
  font-style: italic;
  padding-top: 0.5%;
  padding-bottom: 2%;
}

.details__wrap {
  width: 94%;
  margin: 0 auto;
  padding-top: 5%;
}

.details__ticket--pasmo,
.details__ticket--railpass {
  display: none;
}

.details__ticket--suica,
.details__ticket--pasmo,
.details__ticket--railpass {
  background: #ffffff;
}

.box--blue-dark, .box--green, .box--pink {
  width: 45%;
  margin: 0 auto;
  margin-bottom: 5%;
  padding: 2%;
}

.box--blue-dark h3, .box--green h3, .box--pink h3 {
  color: #ffffff;
  text-align: center;
}

.box--blue-dark p, .box--green p, .box--pink p {
  display: none;
}

.box--blue-dark {
  background-color: #253266;
}

.box--green {
  background: #6eb92b;
}

.box--pink {
  background: #e4258e;
}

.box--blue {
  width: 100%;
  color: #ffffff;
  text-align: center;
  background: #1389c0;
  padding: 2% 0;
}

.box--grey {
  border: 1px solid #dedede;
  background: #eeeeee;
  padding: 3% 0;
}

.box--grey__content {
  width: 94%;
  margin: 0 auto;
}

.box--grey__content ul {
  display: flex;
}

.box--grey__content ul img {
  max-width: 100%;
  width: 100%;
}

.procedure__suica,
.procedure__pasmo,
.procedure__rail-pass {
  width: 100%;
}

.procedure__suica img,
.procedure__pasmo img,
.procedure__rail-pass img {
  width: 100%;
  max-width: 100%;
  margin-bottom: -0.3em;
}

.procedure__suica p,
.procedure__pasmo p,
.procedure__rail-pass p {
  margin: 0 auto;
  padding-top: 2%;
}

.list {
  width: 100%;
  padding-bottom: 5%;
}

.list ul {
  padding-top: 2%;
  display: flex;
}

.list li {
  width: 15%;
  margin-right: 0.5%;
  text-align: center;
}

.list img {
  margin-bottom: -0.25em;
  opacity: 0.5;
  cursor: pointer;
}

.list--ticket ul li {
  padding: 2%;
  padding-bottom: 1%;
  margin-right: 1%;
  border-top: 0.5px solid #aaaaaa;
  border-left: 0.5px solid #aaaaaa;
  border-right: 0.5px solid #aaaaaa;
  border-top-right-radius: 0.3em;
  border-top-left-radius: 0.3em;
}

.list--ticket ul img {
  cursor: pointer;
  margin: 0 auto;
}

.text--table__img {
  width: 80%;
}

.no-active--ticket {
  background: #aaaaaa;
}

.active--ticket {
  background: #ffffff;
}

.active--list {
  border: 2px solid #0e8e01;
}

.active--list img {
  opacity: 1;
}

.content__share {
  display: flex;
  padding: 6% 0;
}

.share--icon {
  width: 31.5%;
  padding-left: 1.5%;
}

.share--icon img {
  width: 100%;
  max-width: 100%;
}

.text--center {
  text-align: center;
}

.note {
  width: 100%;
  float: left;
}

.note p {
  float: right;
  padding-top: 2%;
  padding-bottom: 5%;
}

.note span {
  color: #e70517;
}

.table {
  overflow-x: auto;
  padding-top: 5%;
  padding-bottom: 1%;
  text-align: justify;
}

table, tr, th, td {
  border: 1px solid #dddddd;
}

.text--table {
  display: flex;
  position: relative;
}

.text--table p {
  position: absolute;
  top: 40%;
  padding-right: 1em;
}

.text--table img {
  margin-left: 25%;
  width: 100%;
  max-width: 100%;
}

th:nth-child(5) {
  width: 35%;
  background: #253266;
  color: #ffffff;
}

th:nth-child(4) {
  background: #e95371;
  color: #ffffff;
}

th:nth-child(3) {
  background: #6eb92b;
  color: #ffffff;
}

th:nth-child(3),
th:nth-child(4),
th:nth-child(5) {
  width: 22.5%;
}

th:nth-child(2) {
  color: #e70517;
  width: 22.5%;
}

th:nth-child(1) {
  width: 10%;
  display: none;
}

td:nth-child(1) {
  text-align: center;
  display: none;
}

td:nth-child(2) {
  color: #e70517;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table td {
  padding: 2%;
}

table span {
  color: #e70517;
}

table img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

table a {
  word-break: break-all;
}

table th {
  padding: 2% 0;
}

table p {
  padding-bottom: 5%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #1389c0;
}

/*----------------Responsive-----------------*/
/*---------------Desktop----------------------*/
@media (min-width: 1024px) {
  .body {
    width: 85%;
    margin: 0 auto;
  }
  .content {
    width: 65.5%;
    margin: 0 auto;
  }
}

/*---------------Tablet----------------------*/
@media (min-width: 679px) {
  .list {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 3%;
  }
  .list--ticket ul li {
    border: none;
  }
  .no-active--ticket {
    background: #f8f7f7;
  }
  .active--ticket {
    background: #1389c0;
  }
  .procedure__suica,
  .procedure__pasmo,
  .procedure__rail-pass,
  .box--blue {
    width: 80%;
    margin: 0 auto;
  }
  .details__wrap {
    width: 100%;
    border: 1px solid #2190c4;
    padding-top: 2%;
  }
  .box--grey__content {
    width: 100%;
  }
  .box--grey {
    border: 1px solid #ffffff;
    background: #ffffff;
  }
  .box--green {
    background-color: #ffffff;
    width: 80%;
    margin-bottom: 0;
    padding: 0;
  }
  .box--green h2 {
    display: none;
  }
  .box--green p {
    display: block;
  }
  th:nth-child(5),
  th:nth-child(4),
  th:nth-child(3) {
    background: #e60012;
  }
  th {
    background: #e60012;
  }
  th:nth-child(2) {
    color: #ffffff;
  }
  th:nth-child(1) {
    display: table-cell;
    color: #ffffff;
  }
  td:nth-child(1) {
    display: table-cell;
  }
  td:nth-child(2) {
    color: #333333;
    font-weight: normal;
  }
  .body {
    width: 80%;
    padding-bottom: 2%;
  }
  .content__share {
    display: none;
  }
  tr:nth-child(1),
  tr:nth-child(3),
  tr:nth-child(5),
  tr:nth-child(7),
  tr:nth-child(10),
  tr:nth-child(11),
  tr:nth-child(13),
  tr:nth-child(15),
  tr:nth-child(17),
  tr:nth-child(19) {
    background-color: #f8f4f4;
  }
  .col--1 {
    display: block;
  }
  .inner {
    background: #ffffff;
    margin-top: 2%;
  }
  .main {
    background: url(../images/pc/img_bg.png) no-repeat top left;
    background-size: cover;
  }
  .text--detail {
    display: none;
  }
}

/*---------------Mobile----------------------*/
@media (max-width: 475px) {
  .container {
    min-width: 300px;
  }
  .list li {
    font-size: 10px;
  }
  .box--green,
  .box--pink,
  .box--blue-dark {
    width: auto;
  }
  .banner__left h1 {
    font-size: 20px;
  }
}
