body{
	font-family: "Arial", Times, serif;
	font-size: 12px;
}
*{
	margin: 0;
	padding: 0;
}
.contain{
	margin: 10px auto;
	background: #e6f3fb;
	height: auto;
	width: 317px;
	justify-content: center;
	padding: 10px 10px;

}
.content {
	width: 100%;
}
.content a{
	color: #0a6395;
	text-decoration: none;
}
.border{
	border-top: 5px solid #f7a418;
	background: #ffffff;
}
.border: after{
	content: "";
	clear: both;
	visibility: hidden;
}

.border span{
	font-style: italic;
}
.box{
	background: #f9f1c2;
	float: left;
	width: 100%;
	height: auto;
	margin-top: 3px;
	padding: 10px 0;
}
.box span{
	font-weight: bold;
	color: #0a6395;
}
.horo-background{
	background: url(image/img-3.gif);
	height: 45px;
	display: 
}
.horo-background p{
	padding: 10px 20px;
}
.content-text{
	display: flex;
}
.text{
	padding: 10px 10px;
}
.day{
	color: #595959;
	margin-top: 4px ;
	margin-bottom: 15px;
}
.photo{
	padding: 10px 15px;
}
.border-2{
	border-top: 1px solid #595959;
	margin-top: 10px;
}
.boder-2: after{
	clear: both;
	visibility: hidden;
	content: "";
	padding: 10px;
}
.border-2-competions{
	height: 77px;
	width: 100%;
	background: white;
	border: 1px solid #595959;
}
.border-2-competions p{
	padding: 10px 10px;
	color: #4d5d73;
}
