body{
	font-family: 'Kozuka Gothic Pro', serif;
	font-weight: 330;
}
*{
	margin: 0;
	padding: 0;
}
.container{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}
.content-top{
	background-image: url(../images/image/bg.png);
	padding: 40px 10.1%;
}
.content-btn_facebook{
	padding-top: 2%;
	padding-left: 25%;
}

.content-case_box1_pc{
	height: auto;
	width: 50%;
	border-radius: 1em;
	background-image: url(../images/image/duck_01.png);
	background-repeat: no-repeat;
}
.content-case_box2_pc{
	height: auto;
	width: 50%;
	border-radius: 1em;
	background-image: url(../images/image/duck_02.png);
	background-repeat: no-repeat;
}
.content-case_box3_pc{
	width: 50%;
	border-radius: 1em;
	background-image: url(../images/image/duck_03.png);
	background-repeat: no-repeat;

}
.content-case_box4_pc{
	width: 50%;
	border-radius: 1em;
	background-image: url(../images/image/duck_04.png);
	background-repeat: no-repeat;
}
.content-case_box1_sp{
	height: auto;
	width: 100%;
	background-image: url(../images/image/duck_sp_01.jpg);
	background-repeat: no-repeat;
	padding-bottom: 30px;
}
.content-case_box2_sp{
	height: auto;
	width: 100%;
	background-image: url(../images/image/duck_sp_02.jpg);
	background-repeat: no-repeat;
	padding-bottom: 20px;
}
.content-case_box3_sp{
	width: 100%;
	background-image: url(../images/image/duck_sp_03.jpg);
	background-repeat: no-repeat;
	padding-bottom: 15px;
}
.content-case_box4_sp{
	width: 100%;
	border-radius: 15px;
	background-image: url(../images/image/duck_sp_04.jpg);
	background-repeat: no-repeat;
	padding-bottom: 20px;
}
.content-case{
	padding: 0 5%;
	margin-top: 10%;
}
.content-case ul{
	margin-top: -4px;
}
.content-case-study_pc{
	background-image: url(../images/image/img_10.png);
	padding-bottom: 5%;
	margin-top: -10px;
}
.content-case-study_sp{
	display: none;
	background-image: url(../images/image/img_sp_10.png);
	padding-top: 23%;
	background-repeat: no-repeat;
	margin-top: -10px;
}
.text-pc{
	padding-left: 3em;
	padding-top: 8em;
	padding-right: 15em;
	padding-bottom: 2em;
	font-size: 0.8em
}
.text-sp{
	text-align: justify;
	padding-left: 50%;
	padding-top: 20%;
	padding-right: 10%;
	font-size: 16px;
	overflow: hidden;	
}
.text1{
	text-align: center;
	color: #4d6eb1;
	font-size: 18px;
	padding-top: 20%;
}
.text2{
	text-align: center;
	padding: 2.4em;
	color: #4d6eb1;
}
.content_infoproduct_pc{
	display: flex;
}
.content_infoproduct_sp{
	display: none;
}
.btn-product{
	display: flex;
}
.btn-product1{
	width: 49.8%;
	background: url(../images/image/13_img.jpg) no-repeat left;
	padding-bottom: 2em;
}
.btn-product2{
	width: 50%;
	background: url(../images/image/14_img.jpg)no-repeat left;
}
.btn-product1 img,
.btn-product2 img{
	padding-left: 10em;
}
.content-wrap-btn1{
	width: 100%;
	display: flex;
	background: url(../images/image/06_bg.png) left;
}
.content-wrap-btn1 a{
	width: 50%;
	margin-top: 20px;
	margin-bottom: 30px;
	margin-left: 20px;
	margin-right: 20px;
}
.content-wrap{ 
	background-color: #ffffff;
	border-radius: 1em;
	padding: 1em 0.5em;
}
.content-bot-lineup{
	padding-left: 35%;
	padding-bottom: 10px;
}
.content-bot_menu3 {
	padding-left: 11%;
	padding-top: 5%;
}
.content-bot_menu4{
	padding-left: 11%;
	padding-top: 2%;	
}
.content-bot_menu2{
	background-color: #f9544c;
	padding-left: 11%;
	padding-top: 5px;
	margin-top: -12px;
}
.content-bot ul{
	padding-bottom: 20px;
}
.content-bot li img{
	border-radius: 20px;
}
.content-bot{
	background-image: url(../images/image/img_13.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	padding-top: 5%;
	padding-left: 12%;
}
.footer{
	padding-left: 11%;
}
.header-pc{
	display: block;
}

.header-sp{
	display: none;
	margin-bottom: 10px;
}
.header-sp img{
	width: 100%;
}
.header-sp ul{
	display: block;
}
.header-sp li{
	margin-bottom: -10px;
}

.border{
	border: 1px solid #bab9b9;
	right: 10.4%;
	display: flex;
	position: absolute;
	margin: 10px 0;
}
.footer-blue{
	margin: -10px 0;
}
.footer-blue img{
	width: 100%;
}
.content_img{
	margin-bottom: -1em;
	width: 100%;
}
ul{
	list-style-type: none;
	display: flex;
	padding-left: 0;
}
@media screen and (min-width: 800px){
	
}
@media screen and (max-width: 768px){
	.text-pc{
		padding-right: 50%;
		font-size: 16px;
	}
	.content-bot-lineup{
		padding-top: 5%;
		padding-left: 36%;
	}
	.content-bot img{
		width: 49%;
		padding-bottom: 5%;
		border-radius: 50px;
	}
	.content-bot{
		padding: 0 3%;
	}
	.content-wrap{
		margin: 0 10.1%;
	}
	.content-top{
		padding: 0;
	}
	.content-bot ul{
		display: block;
		padding-bottom: 10%;
	}
	.content-bot ul li{
		display: inline;
	}
	.border, .content-bot_menu2, .content-bot_menu3, .content-bot_menu4,.footer{
		display: none;
	}
	.header-pc{
		display: none;
	}
	.header-sp{
		display: block;
	}
	.content-wrap-btn1, .content-btn_facebook img{
		width: 100%;
	}
	.content_infoproduct_pc{
		display: none;
	}
	.content_infoproduct_sp{
		display: block;
	}
	.content_infoproduct_sp ul{
		display: block;
	}
	.content-case ul{
		display: block;
	}
	.content-btn_facebook{
		padding: 2% 12%;

	}
	.content-btn_facebook img{
		border-radius: 10px;
	}
	.content-case-study_pc{
		display: none;
	}
	.content-case-study_sp{
		display: block;
	}
	.content-case{
		padding-top: 25%;
		padding-left:7%;
		padding-bottom: 30px;
	}
	.text1{
		padding-left: 8%;
		padding-top: 12%;
		text-align: left;
	}
	.content-case_box1, .content-case_box2, .content-case_box3, .content-case_box4{
		width: 100%;
	}
	
	li img{
		width: 100%;
	}
}