$mobile: "(max-width: 475px)";
$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1025px)";
$width: 100%;
$max-width: 100%;
body{
	font:{
		family: 'Arial',serif;
		weight: 330;
	}
}
*{
	margin: 0;
	padding: 0;
}
.container{
	width: $width;
	margin: 0 auto;
}
.header img{
	width: $width;
	max-width: $max-width;
	margin-bottom: -0.25em;
}
.main{
	max-width: 1600px;
	margin: 0 auto;
}
.footer{
	@extend .header;
}
.banner{
	width: $width;
	display: flex;
}
.banner__left{
	width: 40.6%;
	background: #222222;
	float: left;
	h2{
		width: 80%;
		margin: 0 auto;
		padding-top: 40%;
		font-family: 'Helvetica';
		color: #ffffff;
		text-align: center;
	}
}
.banner__right{
	width:59.4%;
	float: left;
	img{
		width: $width;
		@extend %img;
	}
}
.intro__info{
	display: flex;
}
.content__intro{
	margin-bottom: 3%;
}
.info__img{
	width: 50%;
	margin-right: 3%;
	img{
		width: -webkit-fill-available;
	}
}
.info__text{
	width: 50%;
}

.content{
	h4{
		padding-bottom: 2%;
	}
	h1{
		text-align: center;
		padding: 5% 0;
	}
	img{
		@extend %img;
	}
	picture{
		img{
			padding-bottom: 2%;
			width: $width;
		}
	}
}
.content__1,
.content__2{
	padding-top: 3%;
}
.content__2__img{
	display: flex;
	padding-bottom: 3%;
}
.content__inner{
	width: 94%;
	margin: 0 auto;
}
.content__guide{
	@extend .content__inner;
	padding-top: 3%;
	img{
		@extend %img;
	}
}
.content__img{
	width: $width;
	display: flex;
	padding-bottom: 3%;
}
.content__img-2{
	display: flex;
}
.img__left-2{
	width: 50%;
	margin-right: 1%;
	img{
		width: $width;
	}
}
.img__right-2{
	width: 50%;
	margin-left: 1%;
	img{
		width: $width;
	}
}
.img__left{
	width: 35%;
	margin-right: 1%;
	img{
		width: $width;
	}
}
.img__right{
	width: 70%;
	margin-left: 1%;
	img{
		width: $width;
	}
}
.box__comment{
	background: #f9f8f8;
	padding: 3% 2%;
	font-style: italic;
	h4{
		text-align: center;
	}
}
.box__time{
	background: #edeaea;
	padding: 3% 2%;
	margin-bottom: 3%;
	border-radius: 0.5em;
}
.box__note{
	@extend .content__inner;
	background: #f8ecec;
	padding-top: 3%;
	margin-top: 3%;
	h4{
		color: #ee0202;
	}
}
.box__note--content{
	width: 94%;
	margin: 0 auto;
}
.guide__info{
	padding-bottom: 3%;
	h4{
		span{
			color: #ff4242;
		}
	}
	img{
		padding-bottom: 3%;
	}
}
.info__img--sp{
	display: block;
}
.info__img--pc{
	display: none;
}
.content__img_9{
	width: 38%;
	margin: 0 auto;
	padding-bottom: 3%;
	img{
		width: $width;
	}
}
.content__img_1{
	width: $width;
	margin: 0 auto;
	padding-bottom: 3%;
	img{
		width: $width;
	}
}
.content__share{
	display: flex;
	padding: 6% 0;
}
.share--icon{
	width: 31.5%;
	padding-left: 1.5%;
	img{
		width: $width;
		max-width: $max-width;
	}
}
.list{
	width: 14%;
	margin: 0 auto;
	padding-top: 1%;
	padding-bottom: 3%;
	ul{
		justify-content: center;
	}
}
.slide{
	img{
		width: $width;
	}
}
.details{
	span{
		font-family:"Hiragino Kaku Gothic Pro",serif;
	}
}
%img{
	margin: 0 auto;
	display: block;
}
p{
	text-align: justify;
	padding-bottom: 3%;
}
ul{
	list-style-type: none;
	display: flex;
	li{
		padding-right: 2%;
	}
}
a{
	color: #0bacff;
	word-break: break-all;
	text-decoration: none;
}
img{
	max-width: $max-width;
}
//----------------Responsive----------------//

//-----------------Desktop------------------//
@media #{$desktop}{
	.banner{
		@extend %content--desk; 
	}
	.content{
		@extend %content--desk;
		h1{
			width: 55%;
			margin: 0 auto;
		}
	}
	%content--desk{
		width: 65.2%;
		margin: 0 auto;
	}

}
//----------------tablet--------------------//
@media #{$tablet}{
	.content__intro{
		display: flex;
	}
	%content--tablet{
		width: 85%;
		margin: 0 auto;
	}
	%content__img--tablet{
		width: 68%;
		margin: 0 auto;
	}
	.guide__info--img{
		@extend %info__img;
		padding-right: 3%;
	}
	.guide__info--text{
		width: 55%;
	}
	%info__img{
		width: 45%;
		img{
			width: $width;
			max-width: $max-width;
		}
	}
	.info__img--sp{
		display: none;
		@extend %info__img;
	}
	.info__img--pc{
		padding-left: 3%;
		display: block;
		@extend %info__img;
	}
	.guide__info{
		display: flex;
		img{
			padding-bottom: 0;
		}
	}
	.main{
		background: url(../images/img_bg.png) no-repeat top left;
		background-size: cover;
	}
	.intro__text{
		width: 70%;
		float: left;
	}
	.info__text{
		width: $width;
	}
	.info__img{
		width: $width;
		img{
			padding-bottom: 3%;
		}
	}
	.intro__info{
		width: 30%;
		display: block;
		padding-left: 3%;
	}
	.content{
		background-color: #ffffff;
		margin-bottom: 5%;
	}
	.banner{
		margin-bottom: 2%;
	}
	.slide,
	.content__img,
	.content__2__img,
	.content__img_1,
	{
		@extend %content__img--tablet;
	}
	.box__comment{
		width: 81%;
		margin: 0 auto;
	}
	.content__inner,
	.content__guide{
		@extend %content--tablet;
	}
	.content__share{
		display: none;
	}

}
//---------------------mobile-------------------//
@media #{$mobile}{
	.main{
		min-width: 300px;
	}
	.banner__left{
		h2{
			font-size: 14px;
		}
	}
}


