$mobile: "(max-width: 475px)";
$tablet: "(min-width: 768px)";
$destop: "(min-width: 1024px)";
$width: 100%;
$max-width: 100%;
body{
	font:{
		family: 'Arial',serif;
		weight: 330;
	}
}
*{
	margin: 0;
	padding: 0;
}
.container{
	width: 100%;
	margin: 0 auto;
}
.header img{
	width: $width;
	max-width: $max-width;
}
.footer{
	@extend .header;
}
.banner{
	width: $width;
	display: flex;
}
.banner__left{
	width: 40.6%;
	background: #222222;
	float: left;
	margin-bottom: 0.25em;
	h2{
		width: 80%;
		margin: 0 auto;
		padding-top: 40%;
		font-family: 'Helvetica';
		color: #ffffff;
	}
}
.banner__right{
	width:59.4%;
	float: left
}
.intro__info{
	display: flex;
}
.info__img{
	width: 50%;
	margin-right: 3%;
}
.info__text{
	width: 50%;
}
.content{
	p{
		text-align: justify;
		padding: 3% 0;
	}
	h4{
		padding: 1% 0;
	}
	h1{
		text-align: center;
		padding: 5% 0;
	}
}
.content__inner{
	width: 94%;
	margin: 0 auto;
}
.content__guide{
	@extend .content__inner;
}
.content__img{
	width: 100%;
	display: flex;
}
.content__img-2{
	display: flex;
}
.img__left-2{
	width: 50%;
	margin-right: 1%;
	img{
		width: $width;
	}
}
.img__right-2{
	width: 50%;
	margin-left: 1%;
	img{
		width: $width;
	}
}
.img__left{
	width: 30%;
	margin-right: 1%;
	display: block;
	img{
		width: 100%;
	}
}
.img__right{
	width: 70%;
	margin-left: 1%;
	display: block;
	img{
		width: 100%;
	}
}
.box__comment{
	background: #f9f8f8;
	padding: 3% 2%;
	font-style: italic;
	h4{
		text-align: center;
	}
}
.box__time{
	background: #edeaea;
	padding: 3% 2%;
	border-radius: 0.5em;
}
.box__note{
	@extend .content__inner;
	background: #f8ecec;
	padding-top: 3%;
	h4{
		color: #ee0202;
	}
}
.box__note--content{
	width: 94%;
	margin: 0 auto;
}
.guide__info{
	h4{
		span{
			color: #ff4242;
		}
	}
}
.content__share{
	display: flex;
	padding: 6% 0;
}
.share--icon{
	width: 31.5%;
	padding-left: 1.5%;
	img{
		width: $width;
		max-width: $max-width;
	}
}
.list{
	width: 20%;
	margin: 0 auto;
}
.slide{
	img{
		width: 100%;
	}
}
#img_pc{
	display: none;
}
ul{
	list-style-type: none;
	display: flex;
	li{
		padding-right: 2%;
	}
}
a{
	color: #0bacff;
	word-break: break-all;
}
img{
	max-width: $max-width;
	margin: 0 auto;
	display: block;
	padding: 2% 0;
}
@media #{$mobile}{
}


