body{
	font-family: Times New Roman, serif;
	font-size: 0.6875em;
	background: #1C1C1C;
}
*{
	margin: 0;
	padding: 0;
}
div.container{
	width: 1031px;
	height: auto;
	margin: 0 auto;
	background:  #121214;
	color: #797782;
	display: flex;
	padding: 25px 30px;
	justify-content: center;
}
.title-white{
	color: #F7F2E0;
}
.content-left{
	width: 37%;
	height: auto;
	padding: 10px 10px;
}
.group-box{
	border-bottom: 1px dotted #949796;
	padding: 10px 0px;
}
.group-box: after{
	clear: both;
	visibility: hidden;
	content: "";
	height: 10px;
	padding-left:10px;
}
.content-text{
	text-align: justify;
	padding-bottom: 10px;
	padding-left: 20px;
}
.content-text p{
	padding-top: 10px;
}
.group{
	display: flex;
}
a.info {
	padding: 10px 0px;
	float: left;
	text-decoration: none;
	color: white;
}
a.info:before{
	content: url(image/info.gif);
	float: left;
	margin-right: 5px;
}
.content-2{
	padding-top: 100px;
	padding-bottom: 125px;
}
.content-2 p{
	padding: 4px 0;
}
.list{
	width: auto;
	float: left;
}
.list ul{
	list-style: none;
	padding: 5px 0;
}
.list ul li{
	line-height: 20px;
}
.list li:before{
	content: "";
    border-color: rgba(107, 76, 76, 0) #797782;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: 0;
    top: 1.2em;
    position: relative;
}
.list li a{
	text-decoration: underline;
	padding: 0 10px;
	color: #797782;
}
.content-right{
	width: 23%;
	height: auto;
	margin-left: 20px;
}
div.background{
	width: 100%
	height: 50%;
	background: #232326;
	padding: 10px 0;
}
.box-right{
	border-top: 1px solid #949796;
	margin: 35px 30px;
	padding-bottom: 20px;
	justify-content: center;
}
.box-right:before{
	content: "";
	clear: both;
	visibility: hidden;
	display: block;
	height: 1px;
	margin-bottom: 10px;
}
.box-right h4{
	color: white;
	padding: 5px 0;
}
.box-right img{
	padding: 20px 5px;
}
.info-right{
	padding-top: 40px;
}
